.idea
*.iml

.DS_Store
src/main/java/com/yvan/practice/.DS_Store
src/main/java/com/yvan/practice/configuration/.DS_Store
src/main/resources/templates/.DS_Store
src/main/java/com/yvan/practice/test/socket/
src/main/webapp/dist/
target/
